<%= turbo_frame_tag "user_profile" do %>
    <% if @profile.user == current_user %>
        <div class="text-center mt-2">
            <%= link_to "Edit profile", edit_profile_path(@profile), class: " m-1 btn btn-secondary"%>
            <%= button_to "Delete profile", profile_path(@profile), class: "m-1 btn btn-warning", method: :delete, data: {turbo_frame: "_top"} %>
        </div>
    <% end %>
    <%= render @profile %>
<% end %>