<ul class="list-group">
    <% if @not_friends.empty? %>
        <li class="list-group-item text-muted">No users left to invite!</li>
    <% else %>
        <% @not_friends.each do |user| %>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <%= link_to user.email, user %>
                <%= button_to "Invite to friends", invitations_path(inviter_id: current_user.id, invitee_id: user.id), class: "btn btn-dark m-3" %>
            </li>
        <% end %>
    <% end %>
</ul>