<div class="collapse" id="collapseComments<%= post.id %>">
    <%= render "comments/form", post: post %>
    <div class="comments" id="<%= dom_id post %>_comments">
        <% post.comments.order(created_at: :desc).each do |comment| %>
            <%= render comment %>
        <% end %>
    </div>
</div>