<%= form_with(model: post, class:"d-flex flex-column align-items-center") do |form| %>
  <%= form.text_area :body, placeholder: "What's on your mind?", class: "w-100 border rounded" %>
  <button type="submit" class="btn btn-dark m-1 w-100" >Publish</button>
<% end %>
